@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* device-width is 1280px, so all calculation was done with multiplying 0.8 factor */
/* done at 100% zoom level on edge browser */
* {
    margin: 0;
    padding: 0;
    font-family: Fira Sans, sans-serif;
}

body{
    background-color: rgb(248, 248, 248);
}
/* navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 128px;
}
.btn-primary{
    padding: 12px 24px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 6px;

}
.nav-btn{
    color: rgb(0, 106, 80);
    font-weight: bold;
}
/* front page */
.front-page{
    background-color: rgb(198, 228, 214);
    max-width: 1024px;
    margin: 0 auto;
    border-radius: 19px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 64px 80px;
}

.front-page .title{
    font-size: 20px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}
.front-page .title-details{
    margin-top:12px;
    font-weight: 700;
    font-size: 45px;
}
.front-page .title-btn{
    margin-top: 20px;
    background-color: rgb(0, 106, 80);
    color: white;
}

/* hovering actions */
.btn-primary:hover{
    background-color: rgb(198, 228, 214);
    cursor: pointer;
}


/* pillars section  */
main .pillars{
    margin: 64px 128px;
}
main .pillars .pillars-title-container{
    max-width: 1180px;
    margin: 0 auto;
    color: rgb(14, 14, 14);
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}
main .pillars> .pillars-container{
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 26px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

main .pillars>.pillars-container>.pillar {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 12px;
    background: rgb(255, 255, 255);

}
main .pillars>.pillars-container .pill-img{
    width: 40px;
    height: 43px;
    font-size: 38px;
}
main .pillars>.pillars-container .pill-title{
    padding-top: 10px ;
}
main .pillars>.pillars-container .pill-description{
    padding-top: 10px;
}

.pillars .pillar:hover{
    background-color: rgb(224, 255, 255,0.7);
    cursor:crosshair;
}

/* visions section */
.visions-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.visions{
    margin: 64px 128px;
    max-width: 1180px;
}

.visions> .visions-title-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.visions> .visions-title-container > h2.visions-title{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
}
.visions .visions-details{
    margin-top: 19px;
    width: 90%;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.visions-container .visions-card-container{
    margin-top: 26px;
    display: flex;
    gap: 26px;
}
.visions-container .visions-card-container .visions-card{
    padding: 26px;
    box-sizing: border-box;
    border-radius: 16px;

}
.visions-container .visions-card-container .visions-card:nth-child(1){
    background-color: rgba(84, 144, 245, 0.2);

}
.visions-container .visions-card-container .visions-card:nth-child(2){
    background-color: rgb(198, 228, 214);

}
.visions-container .visions-card-container .visions-card:nth-child(3){
    background-color: rgb(247, 235, 207);

}
.visions-container .visions-card-container .visions-card .card-title{
    margin-top: 18px;
    font-size: 16px;
    font-weight: 700;
}
.visions-container .visions-card-container .visions-card .card-description{
    margin-top: 18px;
    font-size: 16px;
    font-weight: 400;
}
.visions-container .visions-card-container .visions-card .card-btn{
    margin-top: 18px;
    font-size: 16px;
    border-radius: 8px;

}
.visions-container .visions-card-container .visions-card:nth-child(1) .card-btn{
    background-color: rgb(84, 144, 245);
    color: white;
}
.visions-container .visions-card-container .visions-card:nth-child(2) .card-btn{
    background-color: rgb(9, 161, 92);
    color: white;
}
.visions-container .visions-card-container .visions-card:nth-child(3) .card-btn{
    background-color: rgb(255, 194, 57);
    color: white;
}
.visions-card:hover{
    cursor:crosshair;
}

/* recent news section */
.news-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.news{
    margin: 64px 128px;
    max-width: 1180px;
}
.news-container .news-title-container{
    display:flex ;
    justify-content: flex-start;
}
.news .news-title{
    font-size: 32px;
    font-weight: 700;
    color: rgb(14, 14, 14);
}
.news .news-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}
.news .news-card{
    margin-top: 20px;
    display: flex;
    padding: 40px;
    gap: 25px;
    background-color: white;
    border-radius: 20px;
}
.news .news-card:nth-child(4){
    flex-direction: row-reverse;
}
.news .news-card>img{
    border-radius: 20px;
    height: 45vh;
}

.news .news-card .news-info .news-info-title{
    font-size: 26px;
    font-weight: 700;
}
.news .news-card .news-info .news-agency{
    display: block;
    margin-top: 10px;
    height: 5vh;
}
.news .news-card .news-info .date-time{
    margin-top: 10px;
}
.news .news-card .news-info .date-time .date{
    display: inline-block;
    margin-right: 10px;
}
.news .news-card .news-info .news-details{
    margin-top: 10px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
}
.news .news-card .news-info .news-btn{
    margin-top: 26px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: white;
}
.news .news-card:hover{
    background-color: rgb(224, 255, 255,0.7);
    cursor:crosshair;
}
/* donation section */
.donation-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.donation-container .donation{
    margin: 64px 128px;
}
.donation-container .donation>.donation-title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
.donation-container .donation>.donation-description{
    text-align: center;
    margin-top: 20px;
    margin-right: 70px;
    margin-left: 70px;
    color: rgba(14, 14, 14, 0.7);
}
.donation-container .donation>.donation-amount-container{
    text-align: center;
    margin-top: 26px;
    margin-right: 82px;
    margin-left: 82px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.donation-container .donation>.donation-amount-container>.donation-amount{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 26px;
    font-weight: 700;
}
.donation-container .donation>.donation-amount-container>.donation-amount:nth-child(2){
    background-color: rgb(198, 228, 214);
}
.donation-container input[type=text]{
    display: block;
    margin-top: 25px;
    margin-right: 95px;
    margin-left: 95px;
    width: 75%;
    padding: 16px 32px;
    text-align: center;
    border-radius: 6px;
    border: none;
}
.donation-container .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
}
.donation-container .btn-container>.btn-primary{
    background-color: rgb(0, 106, 80);
    color: white;
}

/* newsletter section */
.newsletter-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter-container>.newsletter{
    margin: 64px 128px;
    padding: 64px 80px;
    background-color: rgb(198, 228, 214);
    border-radius: 20px;
}
.newsletter-container>.newsletter>.newsletter-title{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.newsletter-container>.newsletter>.newsletter-description{
    margin-top: 13px;
    margin-right: 50px;
    margin-left:50px ;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.newsletter-container>.newsletter>.inputnbtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 19px;
    margin-bottom: 19px;
}
.newsletter-container>.newsletter>.inputnbtn>input[type=text]{
    width: 480px;
    padding: 14px 32px;
    border-radius: 6px 0px 0px 6px;
    background: rgb(255, 255, 255);
    border: none;
}
.newsletter-container>.newsletter>.inputnbtn>.btn-primary{
    padding: 14px 32px;
    border: none;
    background-color: rgb(0, 106, 80);
    color: white;
}
.newsletter-container>.newsletter .newsletter-footer{
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

/* footer part */
footer .footer-container{
    margin-top: 64px;
    padding: 40px 128px;
    text-align: center;
}
footer h1{

    color: rgb(14, 14, 14);
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.1);
}
footer .icon-container{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18.5px;
}
/* quote section */
.quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 26px 128px;
}
.quote-container>.quote{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 30px 8px;
}
.quote-container>.quote>.quote-description{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
}
.quote-container>.quote>h3.quoted-by{
    color: rgba(14, 14, 14, 0.8);
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}
.quote-container>.quote>.quoter-designation{
    color: rgba(14, 14, 14, 0.6);
    font-size: 13px;
    font-weight: 400;
}

